In [1]:
import pandas as pd

dataset=pd.read_csv("general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
data_Yes = dataset[dataset['Attrition']=='Yes']
data_No = dataset[dataset['Attrition']=='No']

In [4]:
data_Yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
6,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,7,Male,...,2.0,Y,20,8,1,5.0,2,0,0,0
13,47,Yes,Non-Travel,Research & Development,1,1,Medical,1,14,Male,...,1.0,Y,11,8,2,10.0,4,10,9,9
28,44,Yes,Travel_Frequently,Research & Development,1,2,Medical,1,29,Male,...,3.0,Y,14,8,1,19.0,2,1,0,0
30,26,Yes,Travel_Rarely,Research & Development,4,3,Medical,1,31,Male,...,2.0,Y,11,8,0,5.0,5,3,0,2

In [5]:
data_No.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
5,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,6,Female,...,3.0,Y,13,8,0,28.0,5,7,7,7

# Statistical Tests On Given Data

## 1. MannWhinteny Test

### Attrition Vs DistanceFromHome

In [12]:
from scipy.stats import mannwhitneyu

In [13]:
stats,p = mannwhitneyu(data_Yes.DistanceFromHome,data_No.DistanceFromHome)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

1312110.0 0.4629185205822659
Accept the Ha Hypothesis

### Attrition Vs Income

In [14]:
stats,p = mannwhitneyu(data_Yes.MonthlyIncome,data_No.MonthlyIncome)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

1264900.5 0.053577283839938566
Accept the Ha Hypothesis

### Attrition Vs Working Years

In [15]:
stats,p = mannwhitneyu(data_Yes.TotalWorkingYears,data_No.TotalWorkingYears)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

909954.0 2.8897554531400447e-39
Reject the H0 Hypothesis

### Attrition Vs Years at Company

In [16]:
Vstats,p = mannwhitneyu(data_Yes.YearsAtCompany,data_No.YearsAtCompany)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

909954.0 6.047598261692858e-37
Reject the H0 Hypothesis

### Attrition Vs Years With Current Manager

In [17]:
stats,p = mannwhitneyu(data_Yes.YearsWithCurrManager,data_No.YearsWithCurrManager)
print(stats,p)

if(p<0.05):
    print("Reject the H0 Hypothesis")
else:
    print("Accept the Ha Hypothesis")

957253.5 1.2365483142169853e-31
Reject the H0 Hypothesis

## 2. Separate T Test

In [19]:
from scipy.stats import ttest_ind

### Attrition Vs Distance From Home

In [20]:
stats,p = ttest_ind(data_Yes.DistanceFromHome,data_No.DistanceFromHome)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-0.6460416038042738 0.518286042805572
Accept Ha Hypothesis

### Attrition Vs Income

In [21]:
stats,p = ttest_ind(data_Yes.MonthlyIncome,data_No.MonthlyIncome)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-2.0708863763619316 0.03842748490605113
Rejects H0 Hypothesis

### Attrition Vs Years At Company

In [22]:
stats,p = ttest_ind(data_Yes.YearsAtCompany,data_No.YearsAtCompany)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-9.004357011787226 3.163883122491456e-19
Rejects H0 Hypothesis

### Attrition Vs Years With Current Manager

In [23]:
stats,p = ttest_ind(data_Yes.YearsWithCurrManager,data_No.YearsWithCurrManager)
print(stats,p)
if(p<0.05):
    print("Rejects H0 Hypothesis")
else:
    print("Accept Ha Hypothesis")

-10.499379408703438 1.7339322652918153e-25
Rejects H0 Hypothesis